node_modules/

*.config.js
*.tsbuildinfo
*.map
*.log

test/
tests/
__tests__/
coverage/

.git/
.gitignore

package-lock.json
yarn.lock

.env
.env.local
.env.*.local
.env.test
.env.prod

nest-cli.json
tsconfig*.json

.vscode/

http/